<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129995174964-gu5l2srafaqmv7jq530i5k957lobis05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129995174964-gu5l2srafaqmv7jq530i5k957lobis05</string>
	<key>API_KEY</key>
	<string>AIzaSyASsawuv7xeuJGVWxTJJJ5vu_wWoBusJfY</string>
	<key>GCM_SENDER_ID</key>
	<string>129995174964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucasvantilburg.Reading-List-App</string>
	<key>PROJECT_ID</key>
	<string>readingapp-e6bcd</string>
	<key>STORAGE_BUCKET</key>
	<string>readingapp-e6bcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129995174964:ios:a638c7874e11c5172b0661</string>
</dict>
</plist>